img {
    width: 90%;
    max-width: 1000px;

}

.home {
    img{
        max-width: 600px;
       
    }
    
}

.footerHome {
    position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
display: flex;
max-height: 180px;
padding-top: 5px;
background-color: red;
img {
    object-fit: cover;
    width: 100%;
    max-width: 100000px;

}

}
