.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
  

   img {
       width: 80%;
       max-width: 400px;
       
   }
}