.perso {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .pe {
        padding: 100px ;
        border: 2px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
    }

}