#wall {
    display: flex;
    justify-content: center;
    img{
        object-fit: contain;
        width: 90%;
        max-width: 1000px;
        border-radius: 20px;
    }
}

.post {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 500px;
    
  img {
      height: 50%;
  }

}

.createPost {
    display: flex;
    justify-content: center;
}

.welcome {
    margin-right: 10px;
    font-size: 20px;
}

.logoutWall {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(231, 56, 56);
        &:hover {
            background-color: rgb(155, 7, 7);
    }
    }
}

#bodyWall {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.postWall {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    
}

#headerWall {
display: flex;
align-items: center;
    padding: 20px;
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(231, 56, 56);
        &:hover {
            background-color: rgb(155, 7, 7);
    }
    }

    img {
        width: 80%;
        max-width: 400px;
    }
}