#wall {
    display: flex;
    justify-content: center;
  
}

.post {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 600px;
    background-color: white;
  

    .likeDislike {
        position: relative;
        right: 45%;
        
        display: flex;
        i {
            margin: 5px;
            padding: 5px;    
        }
    }

    #like {
        color: green;
        border: 1px solid green;
    }
    #dislike {
        color:  red;
        border: 1px solid red;
    }
    
    
    .thing {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        img{
            object-fit: contain;
            width: 100%;
            max-height: 250px;
            max-width: 1000px;
            border-radius: 20px;
        }
    }
    
    .say {
        width: 100%;
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
     
        #textComment {
            width: 100%;
        }
        
       
    }
&:hover {
    cursor: pointer;
}
}

.createPost {
    display: flex;
    justify-content: center;
}

.welcome {
    margin-right: 10px;
    font-size: 20px;
}

.btnDelete {
    z-index: 2;
}

#bodyWall {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-bottom: 200px;
}

.postWall {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
   
    
}

#headerWall {
display: flex;
align-items: center;
    padding: 20px;
  

    img {
        width: 80%;
        max-width: 400px;
    }
}

.logout {
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(231, 56, 56);
        width: 20%;
        &:hover {
            background-color: rgb(155, 7, 7);
    }
    }
}

.ddd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneArticle {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        object-fit: contain;
        width: 80%;
        border-radius: 10px;
       
    }
}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.zoneComment {
    margin-top: 30px;
}

.postComment {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

