#wall {
    border: 1px solid black;
    margin: 0 30px 0 30px;
    background: no-repeat url(../../assets/icon-left-font-monochrome-black.png);
}

.post {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 300px;

}

.createPost {
    display: flex;
    justify-content: center;
}

.welcome {
    margin-right: 10px;
    font-size: 20px;
}

.logoutWall {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(231, 56, 56);
        &:hover {
            background-color: rgb(155, 7, 7);
    }
    }
}

#bodyWall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postWall {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}